{% extends "layout.html" %}
{% block body %}



  <!-- Page Header -->
  <header class="masthead" style="background-image: url('  {{ url_for('static', filename ='img/about-ng.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">This Is What We Do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

<div class="info">
        <h1>FITNESS CLUB INFO</h1>
      </div>
      <div class="para">
        <p>We have been extremely lucky to be provided with such a vast amount of space at the club, that we have specifically zoned spaces, so you can easily target the areas of your body you feel you need to work & improve on.</p>
        <p>
            We pride ourselves in being a high quality health & fitness centre. Fully air conditioned, we offer a gym for everyone, that suits all levels of fitness in an atmosphere that’s friendly & relaxed, offering the best quality equipment & technology in the largest gym in South Dorset.</p>

        <p>We have fully trained fitness instructors to guide & help you “Achieve your target!”</p>
        </div>
      </div>
    </div>
  </div>
<!--CSS Styling-->
  <style>
  .info{
    text-align: center;
    font-family: 'Bree Serif', serif;
  
  }
  .para{
    font-family: 'Exo', sans-serif;
  }

  
  </style>

 
{% endblock %}
