{% extends "layout.html" %}
{% block body %}


<header class="masthead" style="background-image: url('{{ url_for('static', filename ='img/boot3.jpg')}}')">
  
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Hurry Up!</h1>
          <span class="subheading">Built Now.</span>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="containor">
  <h1>coming soon</h1>
</div>



{% endblock %}