{% extends "layout.html" %}
{% block body %}


    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename ='img/boot1.jpg')}}')">
  
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1>Our Services</h1>
                <span class="subheading">Check out the services.</span>
              </div>
            </div>
          </div>
        </div>
      </header>


<h1>cooming soon</h1>

{% endblock %}